<%- include("partials/header.ejs") %>

 <div id="blog-container">
    <% if (!locals.blogs) { %>
        <p>No blogs available. Submit the first one!</p>
    <% } else { %>
        <% blogs.forEach(blog => { %>
            <div class="blog">
                <h2><%= blog.title %></h2>
                <h3><%= blog.subTitle %></h3>
                <p><strong>By: </strong><%= blog.author %> | <%= blog.date %></p>
                <form action="/read/<%= blog.id %>" method="GET" style="display:inline-block;">
                    <button class="btn btn-primary" type="submit">Read</button>
                </form>
                
                <!-- Update Button -->
                <form action="/update/<%= blog.id %>" method="GET" style="display:inline-block;">
                    <button class="btn btn-secondary" type="submit">Update</button>
                </form>
                
                <!-- Delete Button -->
                <form action="/delete/<%= blog.id %>" method="POST" style="display:inline-block;">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        <% }); %>
    <% } %>
    <a class="btn btn-primary" href='/create'>Create Blog</a>

</div>


<%- include('partials/footer.ejs') %>