<%- include("partials/header.ejs") %>

<form action="/update/<%= blog.id %>" method="POST">
    <label for="author">Author Name</label>
    <input type="text" name="author" id="author" value="<%= blog.author %>">
    
    <label for="date">Publishing Date </label>
    <input type="date" name="date" id="date" value="<%= blog.date %>">
    
    <label for="title">Blog Title</label>
    <input type="text" name="title" id="title" value="<%= blog.title %>">
    
    <label for="subTitle">Blog Subtitle</label>
    <input type="text" name="subTitle" id="subTitle" value="<%= blog.subTitle %>">
    
    <label for="content">Blog Content</label>
    <textarea id="editor" name="content"><%- blog.content %></textarea>

    
    <button class="btn btn-primary" type="submit">Update Blog</button>
</form>

<%- include('partials/footer.ejs') %>
